<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="TeachingManagersConnectionString" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TeachingManagerConnectionString" connectionString="sever=DESKTOP-L5RJ95A\LEDAIDUONG;database=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TeachingManagerConnectionString1" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;AttachDbFilename=|DataDirectory|\QuanLyGiangVien.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QuanLyGiangVienConnectionString" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QuanLyGiangVienConnectionString1" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;AttachDbFilename=QuanLyGiangVien.mdf;Integrated Security=True;User Instance=True;TrustServerCertificate=True;Encrypt=True" providerName="System.Data.SqlClient"/>
    <add name="C__USERS_THANHLOI_DESKTOP_TEACHINGMANAGERS_NGGAY_3_11_2011PHIEN_BAN_TIENG_VIET_TEACHINGMANAGERS_APP_DATA_QUANLYGIANGVIEN" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="C__USERS_THANHLOI_DESKTOP_TEACHINGMANAGERS_NGGAY_3_11_2011PHIEN_BAN_TIENG_VIET_TEACHINGMANAGERS_APP_DATA_QUANLYGIANGVIE1" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QUANLYGIANGVIEN_MDFConnectionString" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QuanLyGiangVienConnectionString2" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QLGiangVienConnectionString" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QLGVConnectionString" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QLGV1ConnectionString" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QLGV_Ngay_26ConnectionString" connectionString="Data Source=DESKTOP-L5RJ95A\LEDAIDUONG;Initial Catalog=QuanLyGiangVien;Integrated Security=True" providerName="System.Data.SqlClient"/>   
  </connectionStrings>
-->
	<connectionStrings>
		<add name="QuanLyGiangVien" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-MROL53J;Database=QuanLyGiangVien;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>

	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
	<system.web>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />

		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>

		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>

		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>

		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>

		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>

		<httpProtocol>
			<customHeaders>
				<add name="Content-Type" value="text/html; charset=utf-8" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>